/* Журнал событий */
#journal .app_checkbox {
  margin-top:0px;
  margin-left:0px;
  font-size:12px;
  
  padding-top: 0px;
  padding-bottom: 0px;
  height: 10px;
  font-size: 12px;
}

#journal td {
  padding-top: 0px ;
  padding-bottom: 0px ;
}

/*
  Меню управления журналом
*/
#journal_menu .repeat_checkbox {
  font: 72%/1.5 Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#journal_menu .available_msgs {
  width: 55px;
  height: 14px;
  font-size: 12px;
}

#journal_menu .num_msgs_to_show {
  width: 75px;
  height: 28px;
  font-size: 13px;
}