 
 
.div_item {
  /*background-color: red;*/
  height : 13 px;
  width : 10 px;
}

.word_style {
  background-color: gold;
  height : 13 px;
  width : 10 px;
  font-family: "Lucida Console", serif, "Times New Roman", Times, serif;
}