<!doctype html>
<html ng-app="phonecatApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    
    <script src="controllers.js" charset="UTF-8"></script>
    
    <link rel="stylesheet" href="aj.css">
</head>
<body ng-controller="PhoneListCtrl">
  <div>
  
  <button ng-click="go()" ng-init="count=0">
    Translate
  </button> 

  <button ng-click="go()" ng-init="count=0">
    Context samples
  </button>

  <br>
  
  Search: <input ng-model="query">
  Sort by:
  <select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="age">Newest</option>
  </select>
  
  <label>Filter:</label>
  <input type="text" ng-model="yourName" placeholder="Enter a name here">    
  <div  class="div_item">{{yourName}}</div>
  <hr>

  <ul>
    <li ng-repeat="phone in phones">
      <div  class="div_item">{{phone.name}}</div>
    </li>
  </ul>
  
  <ul>
    <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
      <div  class="div_item">{{phone.name}}</div>
    </li>
  </ul>         
  </div>
</body>
</html>