<!doctype html>
<html ng-app="phonecatApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    
    <script src="controllers.js" charset="UTF-8"></script>
    
    <link rel="stylesheet" href="aj.css">
</head>
<body ng-controller="PhoneListCtrl">
  <div>
    Search: <input ng-model="query">
    Current space:
    <select ng-model="orderProp">
      <option value="name">Alphabetical</option>
      <option value="age">Newest</option>
    </select>
    <hr>

    <!-- Own word -->
    <div class="word_style" ng-model="word"> {{word}}</div>
    <hr>

    <button ng-click="showTranslates()">
      Translates
    </button> 

    <button ng-click="showSamples()">
      Context samples
    </button>

    <!-- Addition data -->
    <br>
    <label>
    <span ng-hide="translateHided">Translates</span> 
    <span ng-hide="contextSamplesHided">Context samples</span>
    filter:
    </label> 
    <input type="text" ng-model="yourName" placeholder="Enter a name here">

    <!-- Translates -->
    <ul ng-hide="translateHided">
      <li ng-repeat="translate in translates | filter:yourName">
        {{translate}}
      </li>
    </ul>
    
    <!-- Context samples -->
    <ul ng-hide="contextSamplesHided">
      <li ng-repeat="sample in samples | filter:yourName">
        {{sample}}
      </li>
    </ul>  

  </div>
</body>
</html>