<!doctype html>
<html ng-app="phonecatApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    
    <script src="controllers.js" charset="UTF-8"></script>
    
    <link rel="stylesheet" href="aj.css">
</head>
<body ng-controller="PhoneListCtrl">
  <div>
  
  <button ng-click="showTranslates()" ng-init="count=0">Translates</button> 
  <button ng-click="showContextItems()" ng-init="count=0">Contexts</button> 
  
  <label>Filter:</label>
  <input type="text" ng-model="yourName" placeholder="Enter a name here">    
  <div class="div_item">{{yourName}}</div>
  <hr>

  <ul ng-hide="myValue_tr">
    <li ng-repeat="phone in translates">
      <div  class="div_item">{{phone.name}}</div>
    </li>
  </ul>
  
  <ul ng-hide="myValue_co">
    <li ng-repeat="phone in contextOfWord">
      <div  class="div_item">{{phone.name}}</div>
    </li>
  </ul>
  </div>
</body>
</html>