<!DOCTYPE html>
<html lang="en">
<head>
<style type="text/css">
</style>
</head>
   
<body>
<!-- Загрузка библиотек 
  response.files.insert(0,URL('static','js/jquery.js'))
    
    response.files.insert(2,URL('static','js/bootstrap.js'))
    response.files.insert(3,URL('static','js/web2py.js'))
    
    response.files.insert(4,URL('static','css/bootstrap.css'))
    response.files.insert(5,URL('static','css/bootstrap-responsive.css'))
       
    response.files.insert(6,URL('static','css/docs.css'))-->
{{
    
    response.files.insert(1,URL('static','js/no_w2p.js'))
    response.files.insert(7,URL('static','css/app_carcass.css'))
    response.include_files()
}}



<!--div class="container-fluid container_views">
  <!--Sidebar content- ->
  <div class="row-fluid ">
    <div class="span12 settings_top_panel">
      
    </div>
  </div>

  <div class="row-fluid height_row">
    <!--Sidebar content- ->
    <div class="span2 settings_operation_panel inner">
      
    </div>
    
    <!--Body content- ->
    <div class="span10 settings_navigation_panel">
      
    </div>
  </div>
</div-->

<div class="mini-layout fluid">
<div class="row-fluid ">
    <div class="span12 settings_top_panel">
      
    </div>
  </div>
            <div class="mini-layout-sidebar"></div>
            <div class="mini-layout-body"></div>
          </div>
          
<!--// Update Holder -->
    <div id="updateHolder">
            <div id="updateContainer">
            <div id="updateContent">
            <!-- //// You can add all your contents here ////-->
          How can I customize a scroll bar via CSS (Cascading Style Sheets) for one div and not the whole page?

css div scrollbar
share|improve this question
edited Jan 11 at 20:59

JSuar
4,847733	
asked Feb 12 '12 at 18:21

user984523
31114
Apply overflow:auto; just to that <div>. Any more background details? – Rob W Feb 12 '12 at 18:23
I did that , but i need custom scrollbar , uhm.. design of scrollbar – user984523 Feb 12 '12 at 18:24
Custom color? That's only supported in IE, and not in other modern browsers. This cannot be achieved using pure CSS. – Rob W Feb 12 '12 at 18:25
2 Answers activeoldestvotes
up vote
18
down vote
OP probably won't accept an answer. Regardless, I thought it would be helpful to consolidate the latest information on scroll bars, CSS, and browser compatibility.

Scroll Bar CSS Support
Currently, there exists no cross-browser scroll bar CSS styling definitions. The W3C article I mention at the end has the following statement and was recently updated (FRI 21 DEC 2012 06:20:49 AM CET):

Some browsers (IE, Konqueror) support the non-standard properties 'scrollbar-shadow-color', 'scrollbar-track-color' and others. These properties are illegal: they are neither defined in any CSS specification nor are they marked as proprietary (by prefixing them with "-vendor-")

Microsoft

As others have mentioned, Microsoft supports scroll bar styling (example) but, only for IE8 and above.

http://msdn.microsoft.com/en-us/library/ie/hh772048(v=vs.85).aspx
http://msdn.microsoft.com/en-us/library/ff974092(v=VS.85).aspx
Example:

.TA {
    scrollbar-3dlight-color:gold;
    scrollbar-arrow-color:blue;
    scrollbar-base-color:;
    scrollbar-darkshadow-color:blue;
    scrollbar-face-color:;
    scrollbar-highlight-color:;
    scrollbar-shadow-color:
}
Chrome & Safari (webkit)

Similarly, webkit now has its own version:

Styling Scrollbars: https://www.webkit.org/blog/363/styling-scrollbars/
Demo of all webkit scroll bar styling
From Custom Scrollbars in WebKit, relevant CSS:

/* pseudo elements */
::-webkit-scrollbar              {  }
::-webkit-scrollbar-button       {  }
::-webkit-scrollbar-track        {  }
::-webkit-scrollbar-track-piece  {  }
::-webkit-scrollbar-thumb        {  }
::-webkit-scrollbar-corner       {  }
::-webkit-resizer                {  }

/* pseudo class selectors */
:horizontal
:vertical
:decrement
:increment
:start
:end 
:double-button
:single-button
:no-button
:corner-present
:window-inactive
Firefox (Gecko)

Firefox does not have its own version of scroll bar styles according to this SO answer from Custom CSS Scrollbar for Firefox.

There's no Gecko equivalent to ::-webkit-scrollbar and friends.


/* pseudo elements */
::-webkit-scrollbar              {  }
::-webkit-scrollbar-button       {  }
::-webkit-scrollbar-track        {  }
::-webkit-scrollbar-track-piece  {  }
::-webkit-scrollbar-thumb        {  }
::-webkit-scrollbar-corner       {  }
::-webkit-resizer                {  }

/* pseudo class selectors */
:horizontal
:vertical
:decrement
:increment
:start
:end 
:double-button
:single-button
:no-button
:corner-present
:window-inactive
Firefox (Gecko)

Firefox does not have its own version of scroll bar styles according to this SO answer from Custom CSS Scrollbar for Firefox.

There's no Gecko equivalent to ::-webkit-scrollbar and friends.
             </div>
            <!--// don't remove this: the scrollbar and scrollscrubber place holder -->
            <div id="updateScollBar">
                <div id="updateScollScrubber">
                </div>
            </div>
            <!-- scrollbar end //-->
            </div><!-- end of updateContainer //-->
        </div><!-- end of updateHolder //-->
   </body>
</html>
