
/*

Промотка думаю должна отобраюаться всегда, иначе будет неясно. Хотя. Место занимает
  и поклацав можно разобраться.


  http://habrahabr.ru/post/126207/
*/
.one-card-container {
  position: relative;
  height: 80px;
  width: 280px;
  background-color: #D8D8D8;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px 10px 10px 10px;
}

/* Сами видимые карточки. */
.pack-card-container {
  top: 0;
  position: absolute;
  height: 100%;
  width: 90%;
  border-radius: 10px 0px 0px 10px;
}

.active-card {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
}

.active-card-word {
   background-color: lightgray;
   z-index:0;
 }

.active-card-content {
  background-color: lightgray;
  border-radius: 10px 0px 0px 10px;
  z-index:-1;

}
 .text-contents {
 /*padding-top: 15px; */
  /*text-align: center;*/
    /*color: white;*/
   /* padding-left: 20px; */
   font-family:"Times New Roman";
 }

.content-stack {
/*padding-top: 5px;
padding-bottom: 5px;*/
  height: 100%;
  width: 95%;
  right: 0;
  background-color: lightgray;
  position: absolute;
}

.active-card-translate {
  background-color: lightgray;
  border-radius: 10px 0px 0px 10px;
  z-index:-2;
}

/* Перелистователь*/
.tuner-base {
  height: 50%;
  width: 10%;
  right: 0;
  position: absolute;
}

.tuner-base-up {
  background-color: gray;
  top: 0;
  border-radius: 0px 10px 0px 0px;
}

.tuner-base-down {
  background-color: lightgreen;
  bottom: 0;
  border-radius: 0px 0px 10px 0px;
}
