/*
Промотка думаю должна отобраюаться всегда, иначе будет неясно. Хотя. Место занимает
  и поклацав можно разобраться.

  http://habrahabr.ru/post/126207/
*/


.compressed {
  margin-top: 2%;
  margin-left:8%;
  margin-right:5%;
}

.one-card-container {
  position: relative;
  height: 100px;
  /*width: 270px; */
  background-color: #D8D8D8;
  margin-left: 2%;
  margin-top: 4px;
  padding-left: 10px;
  /*border-radius: 4px 4px 4px 4px;*/
}

.update {
  background-color: white;
  height:20px;
}

.alighted {
position: absolute;
  right:18px;
}

/* Сами видимые карточки. */
.pack-card-container {
  top: 0;
  position: absolute;
  right:0;
  height: 100%;
  width: 100%;
  /*border-radius: 0px 4px 4px 0px;*/
}

.pack-card-container-inner {
  top: 0;
  position: absolute;
  left:0;
  height: 100%;
  width: 94%;
  /*border-radius: 0px 4px 4px 0px;*/
}

.active-card {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  /*border-radius: 0px 4px 4px 0px;*/
  background-color: lightgray;
}

.translate {}
.content {}
.word {}

.text-contents {
  position:absolute;
  /*top: 4px;*/
  vertical-align:middle;
  font-family:"Times New Roman";
}

.content-stack {
  height: 100%;
  width: 95%;
  left: 5px;
  background-color: lightgray;
  position: absolute;
  /*border-radius: 4px 0px 0px 4px;*/
}

/* Перелистователь */
.tuner-base {
  height: 100%;
  width: 10%;
  position: absolute;
}

.circle {
background-color: green;
width: 30px;
	height: 30px;


margin-top: auto;
margin-bottom: auto;
position:relative;
margin: 0 auto;
background-color: red !important;

	background: red;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

/* Внешние тюнеры */
.tuner-base-up {
  left: 0;
  background-color: gray;
  top: 0;
  /*border-radius: 4px 0px 0px 0px;*/
}

.tuner-base-down {
  right: 0;
  background-color: lightgreen;
  bottom: 0;
  /*border-radius: 0px 0px 0px 4px;*/
}

/* Тюнеры внутри карточки */
.tuner-base-up-inner {
  right: 0;
  background-color: gray;
  top: 0;
  /*border-radius: 0px 4px 0px 0px;*/
}

.tuner-base-down-inner {
  right: 0;
  background-color: lightgreen;
  bottom: 0;
  /*border-radius: 0px 0px 4px 0px;*/
}

.tuner-base-down-inner:hover {
  background-color:seagreen;
}

/*TEST*/
div.cn {
  /*background-color: red;*/
  display: table-cell;
  vertical-align: middle;
  /*text-align: center;*/
}

div.inner {
  /*background-color: green;*/
  display: inline-block;
}

div.cnf {
    position:relative !important;
    background-color: red;
    display: table-cell;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
}

div.innerf {
  background-color: green;
  display: inline-block;
  width: 10px;
  height: 10px;
  text-align: left;
}
.circle-dev {
    background-color: green;
    width: 30px;
	height: 30px;
	background: red;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}