<!DOCTYPE html>
<html lang="en">
<head>
<style type="text/css">
</style>
</head>
   
<body>
<!-- Загрузка библиотек -->
{{
    response.files.insert(0,URL('static','js/jquery.js'))
    response.files.insert(1,URL('static','js/no_w2p.js'))
    response.files.insert(2,URL('static','js/bootstrap.js'))
    response.files.insert(3,URL('static','js/web2py.js'))
    
    response.files.insert(4,URL('static','css/bootstrap.css'))
    response.files.insert(5,URL('static','css/bootstrap-responsive.css'))
       
    response.files.insert(6,URL('static','css/docs.css'))
    
    response.files.insert(7,URL('static','css/app_carcass.css'))
    response.include_files()
}}



<div class="container-fluid container_views">
  <!--Sidebar content-->
  <div class="row-fluid ">
    <div class="span12 settings_top_panel">
      
    </div>
  </div>

  <div class="row-fluid height_row">
    <!--Sidebar content-->
    <div class="span2 settings_operation_panel inner">
      
    </div>
    
    <!--Body content-->
    <div class="span10 settings_navigation_panel">
      
    </div>
  </div>
</div>

<!--div class="mini-layout fluid">
  <div class="mini-layout-sidebar"></div>
  <div class="mini-layout-body"></div>
</div-->

   </body>
</html>
