<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>PageLifeControl</servlet-name>
		<servlet-class>servlets.research.GetDistribution</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PageLifeControl</servlet-name>
		<!-- TODO: Может /pages/* http://www.restapitutorial.com/lessons/restfulresourcenaming.html -->
		<url-pattern>/research/get_distribution</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Top</servlet-name>
		<servlet-class>servlets.GetterSingleWord</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Top</servlet-name>
		<!-- TODO: Может /pages/* http://www.restapitutorial.com/lessons/restfulresourcenaming.html -->
		<url-pattern>/pkg</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserSummary</servlet-name>
		<servlet-class>servlets.GetterUserInformation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserSummary</servlet-name>
		<!-- TODO: Может /pages/* http://www.restapitutorial.com/lessons/restfulresourcenaming.html -->
		<url-pattern>/user_summary</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>KnowIt</servlet-name>
		<servlet-class>servlets.SetterKnownIt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KnowIt</servlet-name>
		<!-- TODO: Может /pages/* http://www.restapitutorial.com/lessons/restfulresourcenaming.html -->
		<url-pattern>/know_it</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FileAccepter</servlet-name>
		<servlet-class>servlets.FileAccepter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileAccepter</servlet-name>
		<!-- TODO: Может /pages/* http://www.restapitutorial.com/lessons/restfulresourcenaming.html -->
		<url-pattern>/accept</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResetStorage</servlet-name>
		<servlet-class>servlets.ResetStorage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResetStorage</servlet-name>
		<!-- TODO: Может /pages/* http://www.restapitutorial.com/lessons/restfulresourcenaming.html -->
		<url-pattern>/reset_storage</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<!-- http://stackoverflow.com/questions/13067001/app-engine-objectify-the-filter-class-not-found -->
	<filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping> 
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
